*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #222;
    font-family: Arial, sans-serif;
  }
  
  .calculator {
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    background-color: #333;
    padding: 20px;
    text-align: center;
  }
  
  #display {
    width: 90%;
    padding: 10px;
    font-size: 36px;
    margin-bottom: 15px;
    background-color: #444;
    border: none;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }
  
  button {
    padding: 15px;
    font-size: 24px;
    background-color: #666;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s;
  }
  
  button:hover {
    background-color: #555;
  }
  
  button:active {
    background-color: #444;
  }
  
